
.shop_section {
    background: #1c1c1c;
    min-height: 100vh
}


.bg-side{
    background-color: #1c1c1c;
    color: white;
    height: 100vh;
    

}
.header-container{
    border-bottom: 1px solid white;
    padding: 20px;
}

.body-form{
    padding: 20px;
}

.font-logo{
    margin-left: 10px;
    font-size: 40px;
    
}

.btn-custom-primary{
    background-color: #2a2d55;
    border: none;
    box-shadow: 2px 2px 5px 1px black;
    color: white;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    margin-top: 20px;

}

.btn-custom-primary:hover {
    box-shadow: 0px 1px 8px #fff;
}

.link-float{

    text-decoration: none;
    float: right;
    margin: 20px;
}

.side-logo{
    text-align: center;
    margin-top: 60px;    
}

