<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'style/nav.css' %}">
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
    <link rel="stylesheet" href="{% static 'style/cartao.css' %}">
    <link rel="stylesheet" href="{% static 'style/shop.css' %}">
    <link rel="stylesheet" href="{% static 'style/carrinho.css' %}">
    <link rel="stylesheet" href="{% static 'style/all_games.css' %}">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% block head %}
    {% endblock %}

</head>
<body>
    {% include 'navbar.html' %}
    {% block body %}
    {% endblock %}
</body>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="{% static 'style/script/cards.js' %}"></script>
</html>