{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'style/all_games.css' %}">
{% endblock %}


{% block body %}
<div class="mt-36"> 
    <section class="games_list">
        <h2 class="text-gray-200 text-2xl font-medium texto-popular"></h2>
        <div class="grid grid-cols-4 gap-4">
            {% for games in all_games %}
                <a href="{% url 'jogo:shop' games.id %}">
                    <div class="card-games animate-card">
                        <div class="cartao_jogo">
                            <img src="{{ games.cartao_imagem.url }}" alt="">
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
</div>



{% endblock %}