{% extends 'base.html' %}

{% load static %}
{% block head %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">{% endblock %}

{% block body %}
<section class="shop_section">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-5 bg-side">
                <div class='header-container'>
                </div>

                <div class="body-form">
                    <br>
                    <br>
                    <hr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <br>
                        <br>
                        <br>
                        <span>Sua compra</span>
                        <input style="background: #c0bdbd" disabled type="text" class="form-control" placeholder="Jogo: {{ id_do_jogo.nome_jogo }} R$ {{ id_do_jogo.preco_jogo }}" name="escolha_jogo">
                        <br>
                        <span>Forma de Pagamento</span>
                        <select name="forma_pagamento" class="form-control">
                            <option disabled selected value="">Escolha sua forma de pagamento</option>
                            {% for forma_pagamento in pagamentos %}
                            <option onclick="Options(this)" value="{{ forma_pagamento }}">{{ forma_pagamento }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <div class="metodo_de_pagamento_formulario">

                        </div>
                        <input type="submit" value="Enviar" class="btn-custom-primary">
                    </form>
                </div>
            </div>
            <div class="col-md-7 min-h-screen bg-gray-400  bg-opacity-50 bg-blend-overlay flex justify-center items-center bg-no-repeat foto-background" style="background-image: url('{{ id_do_jogo.cartao_imagem.url }}'); background-repeat: no-repeat; background-size: cover;">
            </div>
        </div>
    </div>
</section>



<script>
     document.querySelector('select[name="forma_pagamento"]').addEventListener('change', function() {
       const metodo_pagamento = this.value;
       const ContainerForm = document.querySelector('.metodo_de_pagamento_formulario');
       ContainerForm.innerHTML = ''
       console.log(metodo_pagamento)
       if (metodo_pagamento == 'PIX ❖' | metodo_pagamento == 'Dinheiro' | metodo_pagamento == 'Boleto Bancário') {
        ContainerForm.innerHTML = '<div class="row"><div class="col-md"><span>Nome:</span><input type="text" class="form-control" placeholder="Digite seu nome..." name="nome"></div><div class="col-md"><span>Seu sobrenome:</span><input type="text" class="form-control" placeholder="Digite seu sobrenome.." name="sobrenome"></div></div>';}
        else if (metodo_pagamento == 'Cartão de Crédito 💳' | metodo_pagamento == 'Cartão de Débito 💳') {
            ContainerForm.innerHTML = '<div class="row"><div class="col-md"><span>Nome</span><input type="text" class="form-control" placeholder="Digite seu nome..." name="nome"</div><div class="col-md"><br><span>Sobrenome</span><input type="text" class="form-control" placeholder="Digite sobrenome..." name="sobrenome"</div><div class="col-md"><br><span>Numero do cartão</span><input type="text" class="form-control" placeholder="Numero do seu cartão..." name="cartao_numero"</div><div class="col-md"><br><span>CVC</span><input type="text" class="form-control" placeholder="Ex: 064.." name="cvc"</div><div class="col-md"><br><span>Data de validade</span><input type="text" class="form-control" placeholder=" Ex: 04/2024" name="validade"</div><div class="col-md"><br><span>Endereço de Cobrança</span><input type="text" class="form-control" placeholder="Seu endereço aqui.." name="endereco"</div></div>';}
        })
</script>






{% endblock %}