<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/test.css' %}">
</head>
<body>
    <div class="card">
        <div class="cartao_jogo">
            <img src="https://images7.alphacoders.com/125/1255453.jpg" alt="">
        </div>
        <div class="details">
            <h1>GTA V</h1>
        </div>
    </div> 
</body>
</html>